* text=auto

*.exr filter=lfs diff=lfs merge=lfs -text
*.usdc filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.hip filter=lfs diff=lfs merge=lfs -text

# Release ignore
*.hip export-ignore
*.fbx export-ignore
.gitignore export-ignore
.gitattributes export-ignore